<!-- Template for the main Qourant Feed -->
<template name="qourant">
  <div class="feed container">
  		<!-- Header containing Title + date -->
		{{> header}}
		{{#if currentUser}}
		<!-- Header Widgets -->
		<section id="header_widgets" class="row">
	 		<section class="widget header_widget col-md-4" id="grocery_list">
	 			{{> grocery_list}}
	 		</section>	
	 		<section class="widget header_widget col-md-4" id="birthdays">
	 			{{> birthdays}}
	 		</section>	
	 		<section class="widget header_widget col-md-4" id="whos_in">
	 			{{> whos_in}}
	 		</section>	
	 	</section>

	 	<!-- Q-of-the-week -->
	   <section class="widget" id="Q_of_the_week">
	    	{{> Q_of_the_week}}
		</section>

		<!-- Main widgets -->
		<section id="column_wrapper">
			<!-- Left Column -->
			<section id="left_column">
				<section class="widget">
					{{> knowyourcompany1}}
				</section>
					    	<section class="widget" id="Q_of_the_week">
		    		{{> slideCam}}
				</section>
				<section class="widget">
					{{> photoGallerie2}}
				</section>
			</section>
			<!-- Right Column -->
			<section id="right_column">
				<section class="widget">
					{{> photoGallerie1}}
				</section>
				<section class="widget">
					{{> knowyourcompany2}}
				</section>
			</section>
		</section>

		{{else}}
			{{> loginButtons}}
			{{> getOut}}
		{{/if}}

  </div>
</template>