<template name="comments">
	<section class="comments">
		<ul>
			{{#each this}}
				<li>
					<section class="user">
						<div class="avatar">
							<img src="{{avatar}}" alt="{{name}}"/>
						</div>
					</section>
					<p>{{comment}}</p>
					{{#if isOwner}}<button class="delete">&times;</button>{{/if}}
				</li>
			{{/each}}
		</ul>
		<div class="commentForm">
			<div class="nrComments"><span>{{length}}</span><i></i></div>
			<form>
				<input name="comment" id="comment" type="text" value="" placeholder="Comment here"/>
				<input type="hidden" id="_id" value="{{../_id}}" />
				<input type="hidden" id="type" value="{{../type}}" />
				<input type="submit" value="Submit" class="btn btn-primary"/>
			</form>
		</div>
	</section>
</template>