<template name="comments">
	<section class="comments">
		<ul>
			{{#each comments}}
				<li>{{> initials user_id=user_id}}<p>{{comment}}</p></li>
			{{/each}}
		</ul>
		<div class="commentForm">
			<div class="nrComments"><a href=""><span>{{length}}</span><i></i></a></div>
			<form>
				<input name="comment" id="comment" type="text" value="" placeholder="Comment here"/>
				<input type="hidden" id="_id" value="{{item_id}}" />
				<input type="hidden" id="type" value="{{type}}" />
				<input type="submit" value="Submit" class="btn btn-primary"/>
			</form>
		</div>
		
	</section>
</template>