<!-- Template for photogallery List -->
<template name="photoGallerie1">
	<section class="photoGallerie">
		<header>
			<h2>{{title}}</h2>
		</header>
		<article class="wrapper gallery">
			{{#each photos}}
				<a class="grouped_elements photo fancybox" rel="1" href="{{url}}"><img src="{{url}}" alt=""/></a>
			{{/each}}
		</article>
		<section class="comments">
		<ul>
			{{#each comments}}
				<li><span class="initials">{{initials}}</span><p>{{comment}}</p></li>
			{{/each}}
			</ul>
		</section>
		<form>
			<input name="comment" id="comment" type="text" value="" placeholder="Comment here"/>
			<input type="hidden" id="_id" value="{{_id}}" />
			<input type="submit" value="Submit" class="btn btn-primary"/>
		</form>
	</section>
</template>
<template name="photoGallerie2">
	<section class="photoGallerie">
		<header>
			<h2>{{title}}</h2>
		</header>
		<article class="wrapper gallery">
			{{#each photos}}
				<a class="grouped_elements photo fancybox" rel="2" href="{{url}}"><img src="{{url}}" alt=""/></a>
			{{/each}}
		</article>
		<section class="comments">
		<ul>
			{{#each comments}}
				<li><span class="initials">{{initials}}</span><p>{{comment}}</p></li>
			{{/each}}
			</ul>
		</section>
		<form>
			<input name="comment" id="comment" type="text" value="" placeholder="Comment here"/>
			<input type="hidden" id="_id" value="{{_id}}" />
			<input type="submit" value="Submit" class="btn btn-primary"/>
		</form>
	</section>
</template>