<!-- Template for birthdays List -->
<template name="photoGallerie1">
	<section class="photoGallerie">
		<header>
			<h2>{{title}}</h2>
		</header>
		<article class="wrapper gallery">
			{{#each photos}}
				<a class="grouped_elements photo fancybox" rel="{{gallery_id}}" href="{{url}}"><img src="{{url}}" alt=""/></a>
			{{/each}}
		</article>
		<form>
			<input name="comment" id="comment" type="text" value="" placeholder="Comment here"/>
			<input type="hidden" id="_id" value="{{_id}}" />
			<input type="submit" value="Submit" class="btn btn-primary"/>
		</form>
		<section class="comments">
			{{#each comments}}
				<p>{{comment}}</p>
			{{/each}}
		</section>
	</section>
</template>
<template name="photoGallerie2">
	<section class="photoGallerie">
		<header>
			<h2>{{title}}</h2>
		</header>
		<article class="wrapper gallery">
			{{#each photos}}
				<a class="grouped_elements photo fancybox" rel="{{gallery_id}}" href="{{url}}"><img src="{{url}}" alt=""/></a>
			{{/each}}
		</article>
		<form>
			<input name="comment" id="comment" type="text" value="" placeholder="Comment here"/>
			<input type="hidden" id="_id" value="{{_id}}" />
			<input type="submit" value="Submit" class="btn btn-primary"/>
		</form>
		<section class="comments">
			{{#each comments}}
				<p>{{comment}}</p>
			{{/each}}
		</section>
	</section>
</template>