<!-- Template for Groceries List -->
<template name="grocery_list">
  <div class="wrapper groceries">
  		<!-- 020 -->
	  	<div class="groceryListWrapper 020 wrap020">
		  	<header>
		      <a href="/groceries">
		      	<h2>Grocery List</h2>
		      	<span>({{nrItems020}})</span>
		      </a>
		  	</header>
		  	<nav class="left">
				<ul>
		    		<li id="open020" class="act">020</li>
					<li id="open070">070</li>
					<li id="openQSA">QSA</li>
				</ul>
			</nav>
		  	<section class="right">
			   	<ul class="groceriesList">
			    	{{#each groceries020}}
			    		{{> grocery_list_task}}
			      	{{/each}}
			   	</ul>
			   	<form class="new-grocery020">
		  	    		<input type="text" name="text" placeholder="Type to add" />
		  	  		</form>
			</section>
	  	</div>
		<!-- 070 -->
		<div class="groceryListWrapper wrap070">
		  	<header>
		      	<h2>Grocery List</h2>
		      	<span>({{nrItems070}})</span>
		  	</header>
		  	<nav class="left">
				<ul>
		    		<li id="open020">020</li>
					<li id="open070" class="act">070</li>
					<li id="openQSA">QSA</li>
				</ul>
			</nav>
		  	<section class="right">
			   	<ul class="groceriesList">
			    	{{#each groceries070}}
				    	{{> grocery_list_task}}
				    {{/each}}
			   	</ul>
		  		<form class="new-grocery070">
		  	    	<input type="text" name="text" placeholder="Type to add" />
		  	  	</form>
			</section>
	  	</div>
	  <!-- USA groceries -->
	  <div class="groceryListWrapper wrapQSA">
		  	<header>
		      	<h2>Grocery List</h2>
		      	<span>({{nrItemsQSA}})</span>
		  	</header>
		  	<nav class="left">
				<ul>
		    		<li id="open020">020</li>
					<li id="open070">070</li>
					<li id="openQSA" class="act">QSA</li>
				</ul>
			</nav>
		  	<section class="right">
			   	<ul class="groceriesList">
			    	{{#each groceriesQSA}}
				    	{{> grocery_list_task}}
				    {{/each}}
			   	</ul>
		  		<form class="new-groceryQSA">
		  	    	<input type="text" name="text" placeholder="Type to add" />
		  	  	</form>
			</section>
	  	</div>
  </div>
</template>
