<template name="knowyourcompany1">
	<section class="knowyourcompany">
		<header>
			<h2>{{question}}</h2>
		</header>
		<form>
			<input name="comment" id="comment" type="text" value="" placeholder="Comment here"/>
			<input type="hidden" id="_id" value="{{_id}}" />
			<input type="submit" value="Submit" class="btn btn-primary"/>
		</form>
		<section class="comments">
			{{#each comments}}
				<p>{{comment}}</p>
			{{/each}}
		</section>
	</section>
</template>
<template name="knowyourcompany2">
	<section class="knowyourcompany">
		<header>
			<h2>{{question}}</h2>
		</header>
		<form>
			<input name="comment" id="comment" type="text" value="" placeholder="Comment here"/>
			<input type="hidden" id="_id" value="{{_id}}" />
			<input type="submit" value="Submit" class="btn btn-primary"/>
		</form>
		<section class="comments">
			{{#each comments}}
				<p>{{comment}}</p>
			{{/each}}
		</section>
	</section>
</template>