<!-- Template for whos_in List -->
<template name="whos_in">
  <section class="whos_in">
  		<header>
			<h2>Who's in?</h2>
		</header>
		<nav class="left">
			<ul>
			   <li id="flip_in_020" class="flip act">020</li>
				<li id="flip_in_070" class="flip">070</li>
				<li id="flip_in_QSA" class="flip">QSA</li>
			</ul>
		</nav>
		<section id="whos_in_020" class="whos_inWrap wrap right act">
			{{#each whosIn_020 }}
			   	<span>	
			   		<img src="{{avatar}}" alt="{{name}}"/>
				</span>
			{{/each}}
		</section>
		<section id="whos_in_070" class="whos_inWrap wrap right">
			{{#each whosIn_070}}
				<span>	
			   		<img src="{{avatar}}" alt="{{name}}"/>
				</span>
			{{/each}}
		</section>
		<section id="whos_in_QSA" class="whos_inWrap">
			{{#each in_QSA}}
				<span>	
			   		<img src="{{avatar}}" alt="{{name}}"/>
				</span>
			{{/each}}
		</section>
  </section>
</template>